body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  background-color: #fefefe;
}
@font-face {
  font-family: poppins;
  src: url(./Poppins/Poppins-Medium.ttf);
}
.container {
  display: flex;
}
.sidebar {
  width: 300px;
  /* height: 100%; */
}
.first {
  color: #fff;
  border-radius: 0 0 15px 0;
  background-color: #293144;
  box-shadow: 0px 10px 5px 0 rgba(91, 90, 90, 0.5);
  text-align: center;
}

.text-line2 {
  margin-top: -18px;
}
.middeSidebar {
  border-radius: 20px 0px 0px 20px;
  /* border: 1px solid black; */
}
.travel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
  padding: 5px;
}
.Nights,
.column1 {
  margin: 0;
  color: #818181;
}
.table {
  display: flex;
  justify-content: space-around;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.divider {
  height: 80px;
  border: 1px solid #dde0e2;
}
.sperator {
  width: 170px;
  border: 1px solid #dde0e2;
  text-align: center;
  margin-left: 50px;
  margin-top: 15px;
}
.pax-rooms {
  text-align: center;
}
.pax-rows {
  display: flex;
  justify-content: space-between;
}
.pax-rows p {
  font-size: 13px;
}

.prefrences {
  height: 80%;
  background-color: #293144;
  color: white;
  border-radius: 0 20px 0 0;
}
.l1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.l2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.l1 h3 {
  color: #e7a14a;
  font-size: 15px;
}
.l1 img {
  height: 20px;
  width: 20px;
}
.seperator1 {
  width: 90%;
  border: 1px solid rgb(189, 186, 186);
}
.line {
  width: 75%;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 0 auto;
}
.head {
  margin-top: 25px;
}
.headimg {
  display: flex;
  justify-content: space-around;
}
.head-headings {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: -85px;
}
.head-headings h3 {
  font-size: medium;
  width: 100px;
}
.main-content1 {
  background-color: #293144;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin-left: 13px;
}
.main-content2 {
  display: flex;
}
.subject {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
}
.seprator2 {
  width: 90%;
  border-bottom: 1px solid #e3dfdf;
}
.qtype {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.qfi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qfi h3 {
  margin-left: 5px;
  letter-spacing: 2px;
}
.tour-img {
  width: 100%;
  display: flex;
  justify-content: end;
}
.tour-img img {
  height: 90px;
}
.define {
  margin-top: 40px;
  padding: 10px;
}
.define img {
  height: 50px;
  width: 100%;
  margin-top: -40px;
  margin-left: -5px;
}
.define h3 {
  color: #5579cf;
  margin-top: -40px;
  margin-left: 15px;
}
.day1 img {
  height: 50px;
  width: 100%;
  /* margin-left: 20px; */
}
.title {
  width: 100%;
  color: white;
  margin-top: -60px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.title img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
table {
  width: 100%;
}

table,
th,
td {
  /* border: 1px solid black; */
}

td {
  padding: 10px;
}

.green-text {
  color: rgb(0, 221, 0);
}
.origin-content {
  margin-top: 15px;
  margin-left: 40px;
}
.origin-content img {
  width: 100%;
}
.originHead {
  color: white;
  display: flex;
  align-items: center;
  margin-top: -58px;
  margin-left: 40px;
}
.originHead img {
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: 15px;
}
.originHead h3 {
  font-size: 19px;
}
.innerContent {
  background: #f3f1f2;
  margin-top: -30px;
  margin-top: -15px;
}
.innerContent p:nth-child(1) {
  padding: 5px;
  margin-left: 20px;
  font-weight: 600;
}
.innerContent p:nth-child(2) {
  margin-left: 20px;
}
table {
  border-collapse: collapse;
}

th,
td {
  border: none;
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}
.seprator {
  margin-left: 70px;
  margin-top: 20px;
  width: 90%;
  border: 1px solid rgb(194, 191, 191);
}
.upper {
  border: 1px solid rgb(237, 233, 233);
  padding: 10px;
  box-shadow: 5px 5px #f5f5f5;
}
.universal {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.typeValue {
  width: 35%;
  margin-left: 100px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: #818181;
}
.input input {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}
#ddown {
  height: 25px;
  width: 150px;
  margin-bottom: 10px;
}
.typeValue1 {
  width: 75%;
  margin-top: 10px;
  margin-left: 100px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: #818181;
}
.input2 {
  margin-bottom: 10px;
}
.ddown {
  height: 25px;
  width: 120px;
}
.input2 input {
  height: 20px;
  width: 120px;
}
.tax {
  display: flex;
}
.save img {
  height: 35px;
  width: 100px;
  margin-top: 2.5rem;
  margin-left: 1rem;
}
.priceBased {
  width: 83%;
  margin-top: 10px;
  margin-left: 100px;
  background-color: #818181;
  color: white;
  border-radius: 10px;
}
.priceContent {
  display: flex;
  justify-content: space-around;
}
.ppb {
  text-align: center;
}
.divider1 {
  /* width: 1px; */
  height: 80px;
  border-left: 1px solid rgb(167, 165, 165);
}
.buttonImages {
  width: 75%;
  margin-left: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttonImages a img {
  height: 80px;
  /* width: 250px; */
}
